// Small phones
$phone-xs: 375px;
$phone-s: 450px;
$phone-l: 560px;
$tablet-s: 670px;
$tablet-m: 1000px;
$tablet-l: 1200px;
$laptop: 1400px;
// Desctop

$height-s: 610px;
$height-m: 850px;
$height-l: 1150px;
