@import './breakpoints.scss';

body {
  font-family: var(--ff-main);

  @media screen and (min-width: $phone-xs) {
    font-size: 1.15rem;
  }

  @media screen and (min-width: $tablet-m) {
    font-size: 1rem;
  }
}

// Blocks
.cm-outer-block {
  display: flex;
  flex-direction: column;
  row-gap: var(--in-m);
  padding: var(--in-s) var(--in-m) var(--in-l);
  color: var(--co-green);
  background-color: var(--co-white);
  border-radius: var(--rad-m);

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fz-l);
    font-weight: 700;

    @media screen and (min-width: $phone-xs) {
      font-size: var(--fz-xl);
    }

    @media screen and (min-width: $tablet-m) {
      font-size: var(--fz-l);
    }
  }

  @media screen and (min-width: $phone-s) {
    padding: var(--in-m) var(--in-l) var(--in-xl);
  }

  @media screen and (min-width: $tablet-m) {
    padding: var(--in-m) var(--in-m) var(--in-xl);
  }

  @media screen and (min-width: $tablet-m) {
    row-gap: var(--in-s);
  }

  @media screen and (min-width: $tablet-l) {
    color: var(--co-black);
    background-color: #ffffffa7;
  }
}

.cm-inner-block {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--in-s);
  padding: var(--in-m) var(--in-m) var(--in-l);
  border: 2px solid var(--co-green);
  border-radius: var(--rad-m);

  &-header {
    font-weight: 700;
  }

  &:last-child .cm-direction-icon {
    display: none;
  }
}

.cm-dialog-header {
  padding: var(--in-l) var(--in-xxl);
  font-size: var(--fz-xxl);
  font-family: var(--ff-russo);
  border-bottom: 2px solid #6b80683d;

  @media screen and (min-width: $tablet-m) {
    font-size: var(--fz-xl);
  }
}

.cm-dialog-content {
  padding: var(--in-l) var(--in-m);
}

.cm-dialog-controls {
  display: flex;
  justify-content: flex-end;
  column-gap: var(--in-l);
  padding: var(--in-m);
  text-align: right;
  background-color: #6b80683d;
}

.cm-hide-on-tablet-m {
  @media screen and (min-width: $tablet-m) {
    display: none;
  }
}

// Links
.cm-link {
  font-weight: 700;
  text-decoration: underline;
}

.cm-link-hover {
  @media (hover: hover) {
    &:hover {
      animation: neon 1s ease-in-out infinite;
    }
  }
}

@keyframes neon {
  0% {
    color: var(--co-lime);
  }
  100% {
    color: inherit;
  }
}

// Buttons
.cm-icon-button {
  display: flex;
  margin-right: -0.375rem;
  padding: var(--in-xs);
  color: inherit;
  font-size: var(--fz-xxl);
  cursor: pointer;
}

%control {
  line-height: 1.15;
  color: var(--co-white);
  outline: 1px solid var(--co-green);
  outline-offset: 2px;
  background-color: var(--co-green);
  border-radius: var(--rad-s);

  &:focus {
    outline-width: 2px;
  }
}

.cm-input {
  @extend %control;
  padding: 0.5rem var(--in-s);
  font-family: var(--ff-mono);
  font-size: var(--fz-s);

  @media screen and (min-width: $phone-xs) {
    font-size: var(--fz-m);
  }
}

.cm-text-button {
  @extend %control;
  padding: var(--in-s) var(--in-m);
  text-align: center;

  @media screen and (min-width: $tablet-m) {
    padding: 0.5rem var(--in-m);
  }
}

// Icons
.cm-direction-icon {
  position: absolute;
  top: calc(100% - 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  font-size: 2rem;
  border: 2px solid var(--co-green);
  background-color: var(--co-white);
  z-index: var(--lr-content-s);

  @media screen and (min-width: $tablet-l) {
    background-color: #c4c4c4;
  }
}

// Checkbox
.cm-checkbox {
  color: transparent;
}
