body {
  font-family: var(--ff-main);
}

.cm-link {
  font-weight: 700;
  text-decoration: underline;

  @media (hover: hover) {
    &:hover {
      animation: neon 1s ease-in-out infinite;
    }
  }
}

@keyframes neon {
  0% {
    color: var(--co-lime);
  }
  100% {
    color: var(--co-white);
  }
}

.cm-icon-button {
  display: flex;
  padding: var(--in-s);
  color: var(--co-white);
  font-size: var(--fz-xxl);
}

.cm-input {
  padding: var(--in-s);
  color: var(--co-white);
  font-family: var(--ff-mono);
  outline: 1px solid var(--co-green);
  background-color: var(--co-green);
  border: 2px solid var(--co-white);
  border-radius: var(--rad-s);

  &:focus {
    outline-width: 2px;
  }
}

.cm-direction-icon {
  display: flex;
  align-self: center;
  margin: -1.5rem 0;
  padding: var(--in-s) var(--in-m);
  color: var(--co-white);
  font-size: 2.25rem;
  background-color: var(--co-green);
  border-radius: var(--rad-m);
  z-index: var(--lr-content-s);
  box-shadow: 5px 5px 10px var(--co-green);
}

.cm-block-title {
  font-size: var(--fz-l);
  font-weight: 700;
}

.cm-inside-block {
  padding: var(--in-m);
  padding-bottom: 2rem;
  border: 2px solid var(--co-green);
  border-radius: var(--rad-m);
  box-shadow: var(--sd-block);
}
