// Philosopher
@font-face {
  font-family: 'Philosopher';
  src: url('../../../public/fonts/subset-Philosopher-Bold.woff2')
      format('woff2'),
    url('../../../public/fonts/subset-Philosopher-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Philosopher';
  src: url('../../../public/fonts/subset-Philosopher-Regular.woff2')
      format('woff2'),
    url('../../../public/fonts/subset-Philosopher-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Russo One
@font-face {
  font-family: 'Russo One';
  src: url('../../../public/fonts/subset-RussoOne-Regular.woff2')
      format('woff2'),
    url('../../../public/fonts/subset-RussoOne-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Space Mono
@font-face {
  font-family: 'Space Mono';
  src: url('../../../public/fonts/subset-SpaceMono-Regular.woff2')
      format('woff2'),
    url('../../../public/fonts/subset-SpaceMono-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Roboto Condensed
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../../public/fonts/subset-RobotoCondensed-Bold.woff2')
      format('woff2'),
    url('../../../public/fonts/subset-RobotoCondensed-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../../public/fonts/subset-RobotoCondensed-Regular.woff2')
      format('woff2'),
    url('../../../public/fonts/subset-RobotoCondensed-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../../public/fonts/subset-RobotoCondensed-Italic.woff2')
      format('woff2'),
    url('../../../public/fonts/subset-RobotoCondensed-Italic.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../../public/fonts/subset-RobotoCondensed-Light.woff2')
      format('woff2'),
    url('../../../public/fonts/subset-RobotoCondensed-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
