:root {
  // Fonts
  --ff-main: 'Philosopher', sans-serif;
  --ff-gothic: 'Grenze Gotisch', serif;
  --ff-mono: 'Space Mono', monospace;

  // Colors
  --co-green: #6b8068;
  --co-green-l: #c4ccc3;
  --co-lime: #00ff00;
  --co-white: #ffffff;
  --co-black: #000;
  --co-green-tr: #6b80687d;
  --co-green-l-tr: #c4ccc3a6;
  --co-white-tr: #ffffff2e;

  // Indents
  --in-xxl: 2.5rem;
  --in-xl: 2rem;
  --in-l: 1.5rem;
  --in-m: 1rem;
  --in-s: 0.75rem;
  --in-xs: 0.375rem;
  --in-xxs: 0.255rem;

  // FontSize
  --fz-xxxl: 2rem;
  --fz-xxl: 1.5rem;
  --fz-xl: 1.25rem;
  --fz-l: 1.125rem;
  --fz-m: 1rem;
  --fz-s: 0.875rem;

  // ZIndex
  --lr-alert: 1000;
  --lr-menu: 100;
  --lr-content-l: 30;
  --lr-content-m: 20;
  --lr-content-s: 10;
  --lr-content-a: auto;
  --lr-bg: -1;

  // Radius
  --rad-m: 0.625rem;
  --rad-s: 0.3125rem;

  // Duration
  --dr-xl: 500ms;
  --dr-l: 300ms;
  --dr-m: 250ms;
  --dr-s: 200ms;
  --dr-xs: 100ms;

  // Delay
  --dl-1: 300ms;
  --dl-2: 600ms;
  --dl-3: 900ms;
  --dl-4: 1200ms;
  --dl-5: 1500ms;
  --dl-6: 1800ms;
  --dl-7: 2100ms;
  --dl-8: 2400ms;

  // Shadow
  --sd-block: 5px 5px 10px var(--co-green-tr);
}
