@import '../../app/styles/breakpoints.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--in-m);
  background-color: var(--co-green);
  z-index: var(--lr-alert);

  @media screen and (min-width: $phone-xs) {
    padding: var(--in-xl) var(--in-m) var(--in-l);
  }
}
