.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--in-l);
}

.text {
  font-weight: 700;
  font-size: var(--fz-l);
}
