@import '../../app/styles/breakpoints.scss';

.wrapper {
  position: relative;
  padding: 0 var(--in-m) var(--in-l);
  border-radius: var(--rad-m);
  border: 2px solid var(--co-green-l);
}

.close {
  color: var(--co-white);
  margin: 0 -1rem 0 auto;

  @media screen and (min-width: $phone-xs) {
    padding: var(--in-s);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--co-green-l);
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: var(--in-m);
  margin-top: var(--in-l);
  color: var(--co-white);

  @media screen and (min-width: $phone-xs) {
    margin-top: var(--in-xl);
    text-indent: var(--in-xl);
  }
}
