.wrapper {
  position: relative;
}

.input {
  width: 100%;
}

.menu {
  position: absolute;
  top: calc(100% + var(--in-s));
  right: 0;
  width: 15rem;
  padding: var(--in-s) var(--in-m);
  color: var(--co-white);
  background-color: var(--co-green);
  z-index: var(--lr-content-m);
  box-shadow: 5px 5px 10px var(--co-green);
  outline-width: 2px;
}

.closed {
  display: none;
}

.button {
  display: block;
  padding: var(--in-s);
  border-radius: var(--rad-s);
}

.active {
  outline: 1px solid var(--co-white);
}
