.wrapper {
  position: relative;
  width: 5rem;
}

.input {
  width: 100%;
}

.menu {
  position: absolute;
  top: calc(100% + var(--in-s));
  right: 0;
  width: 15rem;
  padding: var(--in-s);
  color: var(--co-white);
  border: 2px solid var(--co-white);
  outline-width: 2px;
  outline-offset: 0;
  box-shadow: 5px 5px 10px var(--co-green);
  background-color: var(--co-green);
  z-index: var(--lr-content-m);
}

.closed {
  display: none;
}

.button {
  display: block;
  padding: var(--in-xs);
  border-radius: var(--rad-s);
}

.active {
  outline: 1px solid var(--co-white);
}

.currencyName {
  font-family: var(--ff-main);
}
