.wrapper {
  display: flex;
  align-items: center;
  column-gap: var(--in-s);
  padding: var(--in-xs) var(--in-m);
  // padding-right: 0;
  color: var(--co-white);
  border-radius: var(--rad-m);
  border: 2px solid var(--co-white);
}

.icon {
  display: flex;
  font-size: var(--fz-xxl);
}

.button {
  margin-left: auto;
}
