@import '../../app/styles/breakpoints.scss';

.fieldWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rateValue {
  width: 8rem;
}

.wrapper {
  :global(.cm-direction-icon) {
    @media screen and (min-width: $tablet-m) {
      display: none;
    }
  }
}

.addButton {
  margin-top: 1rem;
  padding: 0.5rem var(--in-l) !important;
  text-align: center;
  font-family: var(--ff-main) !important;

  @media screen and (min-width: $phone-xs) {
    padding: 0.75rem var(--in-l) !important;
    font-size: 1.15rem !important;
  }
}
