@import '../../app/styles/breakpoints.scss';

.fieldWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rateValue {
  width: 8rem;
}

.wrapper {
  @media screen and (min-width: $tablet-m) {
    flex: 1 1 auto;
  }

  :global(.cm-direction-icon) {
    @media screen and (min-width: $tablet-m) {
      display: none;
    }
  }
}

.addButton {
  margin-top: 1rem;

  @media screen and (min-width: $tablet-m) {
    margin-top: auto;
  }
}
