.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--in-s);
}

.title {
  margin-bottom: var(--in-s);
  font-size: var(--fz-l);
  font-weight: 700;
}

.fieldWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rateValue {
  width: 8rem;
}

.addButton {
  margin-top: var(--in-m);
  text-align: center;
  font-size: var(--fz-l);
  font-weight: 700;
  font-family: var(--ff-main);
}
