@import '../../app/styles/breakpoints.scss';

.wrapper {
  padding: var(--in-m) var(--in-l);
  background-color: var(--co-white);
  border-top: 5px solid var(--co-green);
  border-radius: 0px 0px var(--rad-m) var(--rad-m);

  @media screen and (min-width: $tablet-s) {
    border-top: none;
  }

  @media screen and (min-width: $tablet-m) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--in-s) var(--in-l);
  }

  @media screen and (min-width: $tablet-l) {
    background-color: var(--co-green);
    border: 2px solid var(--co-white);
    border-top: none;
  }
}

.header {
  display: flex;
  align-items: center;
  column-gap: var(--in-l);
  font-family: var(--ff-russo);
  line-height: 1;
  font-size: var(--fz-xxl);
  color: var(--co-green);
  // transform: translateY(-0.125rem);

  @media screen and (min-width: $tablet-l) {
    color: var(--co-white);
  }
}

.icon {
  display: flex;
  padding: var(--in-xs);
  color: var(--co-white);
  border: 2px solid var(--co-green);
  background-color: var(--co-green);
  border-radius: var(--rad-s);

  @media screen and (min-width: $tablet-l) {
    color: var(--co-green);
    border: none;
    background-color: var(--co-white);
  }
}

.description {
  display: none;
  font-family: var(--ff-russo);
  font-size: 1.375rem;
  color: var(--co-green);
  line-height: 1;

  @media screen and (min-width: $tablet-m) {
    display: block;
  }

  @media screen and (min-width: $tablet-l) {
    color: var(--co-white);
  }
}

.updated {
  @media screen and (max-width: $tablet-m - 1) {
    display: none;
  }
}
