.wrapper {
  margin-bottom: 5px;
  padding: var(--in-m) var(--in-l);
  border: 2px solid var(--co-white);
  border-radius: var(--rad-m) var(--rad-m) 0 0;
}

.text {
  text-align: center;
  color: var(--co-white);
}
