.wrapper {
  display: flex;
  align-items: center;
  font-family: var(--ff-mono);
  font-size: var(--fz-s);
  border-radius: var(--rad-s);
  outline: 1px solid var(--co-green);
  outline-offset: 2px;
}

.currency,
.value {
  padding: var(--in-xs);
  color: var(--co-white);
  background-color: var(--co-green);
  overflow: hidden;
}

.currency:first-child {
  border-radius: var(--rad-s) 0 0 var(--rad-s);
}

.arrow {
  display: flex;
  padding: 0 0.15rem;
}

.value {
  flex: 1 1 auto;
}

.close {
  display: flex;
  padding: 0 0.25rem;
  font-size: var(--fz-xl);
  cursor: pointer;
}
