@import '../../app/styles/breakpoints.scss';

.wrapper {
  height: 100%;
}

.ratesHolder {
  display: flex;
  flex-direction: column;
  row-gap: var(--in-s);
  margin-top: var(--in-xs);

  @media screen and (min-width: $phone-xs) {
    row-gap: var(--in-l);
    margin-top: var(--in-s);
  }

  @media screen and (min-width: $tablet-m) {
    height: 100%;
    row-gap: var(--in-m);
  }
}
