.wrapperInside {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 var(--in-s);
  background-color: var(--co-green);
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--in-m);
  padding: var(--in-m) 0;
}
