@import '../app/styles/breakpoints.scss';

.wrapperInside {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 var(--in-s);
  background-color: var(--co-green);
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--in-m);
  padding: var(--in-m) 0;

  @media screen and (min-width: $phone-xs) {
    row-gap: var(--in-l);
    padding: var(--in-l) 0;
  }
}
