@import '../app/styles/breakpoints.scss';

.wrapperOutside {
  @media screen and (min-width: $phone-s) {
    padding-bottom: var(--in-l);
    background-color: var(--co-green-l);
  }
}

.wrapperInside {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 var(--in-s);
  background-color: var(--co-green);

  @media screen and (min-width: $phone-s) {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 var(--in-xl);
    box-shadow: 0 0 25px var(--co-black);
  }
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--in-m);
  padding: var(--in-m) 0;

  @media screen and (min-width: $phone-xs) {
    row-gap: var(--in-l);
    padding: var(--in-l) 0;
  }
}
